<!doctype html>
<html ng-app="components">
<head>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">

    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
    <script src="components.js"></script>
    <script src="beers.js"></script>
</head>
<body>
<tabs>
    <pane title="Localization">
        Date: {{ '2012-04-01' | date:'fullDate' }} <br>
        Currency: {{ 123456 | currency }} <br>
        Number: {{ 98765.4321 | number }} <br>
    </pane>
    <pane title="Pluralization">
        <div ng-controller="BeerCounter">
            <div ng-repeat="beerCount in beers">
                <ng-pluralize count="beerCount" when="beerForms"></ng-pluralize>
            </div>
        </div>
    </pane>
</tabs>
</body>
</html>